.table {
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
    margin-top: 20px;

    td {
        padding: 15px 30px;
        // border: 1px solid red;
        border-bottom: 1px solid #363636;
        text-align: center;
    }
}