.btn {
	cursor: pointer;
	background: transparent;
	display: inline-block;
	padding: 5px 10px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #262626;
	font: 12px/1 'arial';
	color: #bbb;
	transition: 0.5s;

	&:hover,
	&.on {
		color: var(--point);
		border-bottom: 1px solid var(--point);
	}
}
